<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        iframe{
            margin-top: 100px;
            width: 100%;
            height: 700px;
            position: absolute;
            z-index: 3;
            opacity: 0.01;
        }
        button{
            position: absolute;
            margin-left: 465px;
            margin-top: 434px;
            z-index: 2;
            color: hotpink;
        }
        img{
            position: absolute;
            margin-left: 380px;
            z-index: 1;
        }
    </style>
</head>
<body>
<iframe src="http://tieba.baidu.com/f?kw=%C3%C0%C5%AE" frameborder="0"></iframe>
<button>点我看更多</button>
<img src="http://ws1.sinaimg.cn/mw690/e0e4ecc3gy1fqormqu2vrg206y0cc7wj.gif" alt="">
</body>
</html>