{%  extends "index.html" %}

{% block one %}

<table border="1" cellpadding="10px" cellspacing="0" width="300px" >
    <thead>
        <tr>
            <th>序号</th>
            <th>书名</th>
            <th>作者</th>
        </tr>
    </thead>
    <tbody>
    {% for book in books %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'book_detail' book_id=book.0 %}">{{ book.1 }}</a></td>
            <td>{{ book.2 }}</td>
        </tr>
    {% endfor%}
    </tbody>
</table>

{% endblock %}